hr {
  border: none; //resetta i bordi default per permettere di applicare il border bottom in modo ottimale
  @include border-bottom;
}

nav {
  @include flex-space-between;
  z-index: 10000;
  width: 100vw;
  align-items: center;
  min-height: 5vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  @include border-bottom;
  @media screen and (min-width: $breakpoint-1) {
    padding-top: $md-1;
    padding-bottom: $md-1;
  }
}

.nav-links--about {
  margin: auto 0;
}

.active-link {
  text-decoration: underline;
  /* Sottolinea il testo del link */
}

.bottone-toggle {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
}

.scale-100 {
  width: 25vw;
  transition: width 0.3s ease-in-out;
}

.scale-80 {
  width: 25vw;
  transition: width 0.3s ease-in-out;
  @media screen and (min-width: $breakpoint-1) {
    width: 20vw;
  }
}

.nascosto {
  visibility: hidden;
}

/* HOME */

/*capire a cosa serve questo*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.sticky-image {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  //padding: 10px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.sticky-image.sticky {
  position: sticky;
 
}

.tipografia-2024 {
  padding-top: $lg-3;
  width: 100%;
  @include border-bottom;

}

.desktop-hero {
  display: none;
}

@media screen and (min-width: $breakpoint-1) {
  .mobile-hero {
    display: none;
  }

  .desktop-hero {
    display: block;
  }
}

.accordion-header {
  cursor: pointer;
  @include flex-space-between;
  align-items: center;
  img {
    width: 35px;
    height: auto;
  }

  @media screen and (min-width: $breakpoint-1) {
    img {
      width: 60px;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "logo close"
    "testo testo";
  color: $color-primary;
  text-align: left;
  gap: 4vw;
  background: white;
  padding: 4vw;
  height: 90vh;
  width: 90vw;
  overflow-y: scroll;

  @media screen and (min-width: $breakpoint-2) {
    padding-top: 5vw;
    padding-bottom: 10vw;
    gap: 8vw;
    justify-content: first baseline;
    align-items: start;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "logo testo testo testo testo close";
  }
}

.logo-modale {
  grid-area: logo;
  align-self: self-end;
  
  @media screen and (min-width: $breakpoint-2) {
    align-self: flex-start;
  }
}

.testo-modale {
  grid-area: testo;

}

.bottone-close {
  justify-self: self-end;
  align-self: flex-start;
  cursor: pointer;
  grid-area: close;

  img {
    width: 25px;
    height: 25px;
  }
}


#intro {
  img {
    padding-top: $md-3;
    width: 35px;
    height: auto;
  }

  @media screen and (min-width: $breakpoint-1) {
     img {
      padding-top: $md-3;
      width: 60px;
    }
  }
}

.bottone-toggle {
  padding: 0;
  text-align: right;
  height: auto;
  width: 100%;
}


//footer

footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #000;
  color: $color-white;

  @media screen and (min-width: $breakpoint-2) {
    grid-template-columns: repeat(3, 1fr);
    padding-top: $lg-3;
    padding-bottom: $lg-3;
  }
}

.footer-header {
  border-bottom: 2px solid $color-white;
  padding: $lg-1 0 $sm-2 0;

  @media screen and (min-width: $breakpoint-2) {
    border-bottom: none;
    border-right: 3px solid $color-white;
    display: flex;
    flex-direction: column;
    padding: 0 $lg-3 0 $lg-3;
  }
}

.footer-sezioneLoghi {
  padding: $md-3 0 $md-3 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto, auto, auto;
  gap: $lg-1;
  border-bottom: 2px solid $color-white;

  @media screen and (min-width: $breakpoint-2) {
    border-bottom: none;
    border-right: 3px solid $color-white;
    padding: 0 $lg-3 0 $lg-3;
  }

  h4 {
    grid-column: 1 / 4;
    padding-bottom: $lg-3;
    font-size: clamp(0.8rem, 2.5vw, 1em);
    line-height: clamp(1.1rem, 2.8vw, 1.3rem);
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 0.06rem;
    padding: 0;
    text-align: left;
    color: #FFF;
  }
}

.footer-sezioneloghi--logo {
  align-self: center;
  justify-self: center;
}

.footer-features {
  padding: $md-3 0 $md-3 0;
  gap: $md-1;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-2) {
    padding: 0 $lg-3 0 $lg-3;

  }
}

.footer-features--contacts {
  display: flex;
  align-items: center;
  gap: $lg-3;

  @media screen and (min-width: $breakpoint-2) {
    flex-direction: column;
    align-items: start;
  }
}

.footer-partner {
  width: 80px;
  margin: auto;
}

.footer-item {
  font-size: clamp(0.8rem, 2.5vw, 1em);
  line-height: clamp(1.1rem, 2.8vw, 1.3rem);
  font-weight: 400;
  letter-spacing: 0.06rem;
  text-align: left;
  padding-top: $md-3;
  padding-bottom: $md-3;
  margin-top: 0;
}

.fondazione_crt_Logo {
  width: 135px;
}

.instagram_Logo {
  width: 29px;
}


.policy {
  font-size: 16px;
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.desktop-hero--container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.download-bando{
  background-color: $color-primary;
  padding-top: $md-1;
  padding-bottom: $md-1;

  h3 {
    color: $color-white;
  }
  a {
    text-decoration: none;
  }
}

.desktop-hero--img{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

#logo_01_mobile{
  padding: 10px 0 10px 0;
}