hr {
    border: 1px solid $color-secondary;
}

nav {
    transition: transform 0.5s ease-in-out;
    position: fixed;
    transform-origin: center left;
    background-color: white;
  }
  
  .scale-100 {
    transform: scale(1);
  }
  
  .scale-80 {
    transform: scale(0.8);
  }

  .nascosto {
    visibility: hidden;
  }

  /*capire a cosa serve questo*/
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .sticky-image {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }
  
  .sticky-image-r {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 400px;
    background-color: white;
    padding: 10px;
    z-index: 1000;
  }

  .sticky-image.sticky {
    position: sticky;
  }
  
  .hero-colonne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .immagine-r{
    grid-column: 1 / 2;
  }

  .hero-content {
    overflow-y: scroll;
    grid-column: 2 / 4;
  }
  

  .immagine-to{
    grid-column: 2 / 4;
  }

  .hero-content p {
    margin: 20px 0;
  }


  .mobile-hero-image {
    width: 100%;
  }

  .desktop-hero-image{
    width: 100%;
    display: none;
  }



  @media screen and (min-width: $breakpoint-1){
    .mobile-hero-image {
      display: none;
    }
    .desktop-hero-image{
      width: 100%;
      display: inline;
    }
}

 