/*Include spaziature e caratteristiche dei moduli*/

section, header, .accordion-item{
    padding: $md-2 2vw $md-2 2vw;
}

.data-luogo{
    @include flex-space-between;
}

.accordion-elementi {
    padding-bottom: $lg-2;
    padding-top: $lg-2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 2em;
    grid-template-areas: "fotonome fotonome"
    "info info";
    border-bottom: 2px solid $color-secondary;
}

.accordion-elementi:nth-last-child(1){
    border-bottom: none;
}

.colonne{
    grid-area: fotonome;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 2rem;
}

.accordion-elementi p {
    grid-area: info;
}

.colonne > figure > img {
    width: 100%;
}


/*Accordion Partner*/
.partner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.elemento-partner {
    @include border;
}
.elemento-partner > img {
    height: 130px;
}
.maggiori-informazioni{
    text-align: right;
    @include border;
}

/*Varianti responsive del layout*/
@media screen and (min-width: $breakpoint-1){
    section, header, .accordion-item {
        padding: $md-2 3vw $md-2 3vw;
    }
    .partner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: $breakpoint-3){

    .accordion-elementi {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 25% 25% auto;
        gap: 2em;
        grid-template-areas: "fotonome fotonome info";
    }
}

   /* HOME */
   .homeSeminari-lista--elemento a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
   }