/* Definiamo il punto base dei rem*/

@import url("https://use.typekit.net/ren0myy.css");

html {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 16px;
}

/*defininiamo i tratti comuni dei titoli*/
h1,
h2,
h3,
h4 {
    color: $color-primary;

}

h1 {
    font-size: $font-size-xl;
    line-height: $line-height-sm;
    font-weight: $type-medium;
}

h2,
h3 {
    font-size: $font-size-lg;
    font-weight: $type-regular;
    line-height: $line-height-md;
}

h4 {
    font-size: $font-size-md;
    font-weight: $type-regular;
    line-height: $line-height-md;
}

.footer-sezioneLoghi > h4{
    text-transform: none;
}

#intro p {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: $type-regular;
    color: $color-primary;
}

.accordion-content p {
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: $type-regular;
    color: $color-primary;
    @media screen and (min-width: $breakpoint-2) {
        font-size: 1.8rem  
    }
}

//COMPONENTE ACCORDION
.accordion-header *{
    &:hover{
        color: $color-secondary;
    }
}

// ELEMENTI PAGINA DOCENTE:

h1.pagina-docente--nome-docente{
    font-size: $font-size-lg;
    font-weight: $type-regular;
    line-height: $line-height-md;
}
h2.pagina-docente--tipologia, h2.pagina-docente--job-title{
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: $type-regular;
    color: $color-primary;
}
p.pagina-docente--bio{
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: $type-regular;
    color: $color-primary;
    @media screen and (min-width: $breakpoint-2) {
        font-size: clamp(2rem, 2.2vw, 2.4rem);  
    }
}


nav{
    a, .menu-button {
        text-decoration: none;
        font-size: $font-size-xs;
        line-height: $line-height-md;
        font-weight: $type-regular;
        color: $color-primary;
    }
}

/* ELEMENTI HOME */
#home>h2 {
    position: absolute;
    left: -8000px;
}

.hero-content h1 {
    position: absolute;
    left: -8000px;
}


.homeSeminari-lista--elemento a {
    text-decoration: none;
    color: $color-primary;

    * {
        text-transform: uppercase;
    }

    h3, p {
        font-size: $font-size-sm;
        font-weight: $type-regular;
    }

    h2 {
        font-size: 2rem;
        font-weight: $type-medium;


        @media screen and (min-width: $breakpoint-1) {
            font-size: $font-size-xl;
            line-height: $line-height-sm;
        }
    }

    p,
    h3 {
        @media screen and (min-width: $breakpoint-1) {
            font-size: $font-size-xs;
            font-weight: $type-medium;
        }
    }

}

a.homeSeminari--elementoCorrente, 
.homeSeminari--elementoCorrente {
    * {
        color: $color-secondary;
        cursor: pointer;
    }
    h2:hover{
            text-decoration: underline;  
            text-decoration-thickness: $underline-thickness; 
    }
}

.homeSeminari--elementoArchiviato{

    h2:hover{
            text-decoration: underline;  
            text-decoration-thickness: $underline-thickness; 
    }
}



.footer-features--contacts p {
    font-size: 18px;
}

// ELEMENTI LISTING SEMINARI

//Correnti

//Archiviati
.elemento-lista-seminari-archiviato{
    cursor: pointer;
    &:hover{
        h3{
            text-decoration: underline;
            text-decoration-thickness: $underline-thickness;
        }
    }
}

.seminario-archiviato-info{
    p {
        font-size: $font-size-sm;
        font-weight: $type-regular;
        color: $color-primary;
        line-height: normal;
    }
}

.seminario-archiviato-titolo,
.seminario-archiviato-data {
    text-transform: uppercase;
}
